<section class="section">
    <div class="container-fluid">
<div class="title-wrapper pt-30">
    <div class="row align-items-center">
      <div class="col-md-6">
      <div class="title">
        <h2>Usuários</h2>
      </div>
      </div>
      <!-- end col -->
      <div class="col-md-6">
      <div class="breadcrumb-wrapper">
        <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
          <a href="/dashboard">Dashboard</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
          Usuários
          </li>
        </ol>
        </nav>
      </div>
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
    </div>


<div class="row">
    <div class="col-lg-12">
        <div class="card-style clients-table-card mb-30">
          <!-- <div class="title d-flex justify-content-between align-items-center">
            <h6 class="mb-10">Clients</h6>
            <div class="more-btn-wrapper">
              <button class="more-btn dropdown-toggle" id="moreAction" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="lni lni-more-alt"></i>
              </button>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="moreAction">
                <li class="dropdown-item">
                  <a href="#0" class="text-gray">Mark as Read</a>
                </li>
                <li class="dropdown-item">
                  <a href="#0" class="text-gray">Reply</a>
                </li>
              </ul>
            </div>
          </div> -->
          <div class="table-wrapper table-responsive">
            <table class="table clients-table">
              <thead>
                <tr>
                  <th>
                    <h6>#</h6>
                  </th>
                  <th>
                    <h6>Nome</h6>
                  </th>
                  <th>
                    <h6>Email</h6>
                  </th>
                  <th>
                    <h6>Tipo</h6>
                  </th>
                  <th>
                    <h6>Estado</h6>
                  </th>
                  <th>
                    <h6>Ação</h6>
                  </th>
                </tr>
                <!-- end table row-->
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="employee-image">
                      <img src="assets/images/lead/lead-1.png" alt="">
                    </div>
                  </td>
                  <td class="min-width">
                    <p>Usuário 1</p>
                  </td>
                  <td class="min-width">
                    <p><a href="#0">yourmail&#64;gmail.com</a></p>
                  </td>
                  <td class="min-width">
                    <p>Normal</p>
                  </td>
                  <td>
                    <span class="status-btn active-btn">Active</span>
                  </td>
                  <td>
                    <div class="action">
                        <button class="text-danger">
                          <i class="lni lni-trash-can"></i>
                        </button>
                        <button class="text-primary">
                          <i class="lni lni-close"></i>
                        </button>
                        <button class="text-primary">
                          <i class="lni lni-checkmark"></i>
                        </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- end table -->
          </div>
        </div>
        <!-- end card -->
      </div>
</div>
</div>
</section>