<app-default-login-layout
    title="Registro de novos usuários"
    primaryBtnText="Efetuar registro"
    secondaryBtnText="Acessar"
    (submit)="submit()"
    (navigate)="navigate()"
    [disablePrimaryBtn]="!signupForm.valid"
>
    <section class="signup-section">
        <div class="row g-0 auth-row">
            <div class="col-lg-6">
                <div class="auth-cover-wrapper bg-primary-100">
                    <div class="auth-cover">
                        <div class="title text-center">
                            <h1 class="text-primary mb-10">Vamos começar!</h1>
                            <p class="text-medium">
                                Uma nova forma de faturamento!
                                <br class="d-sm-block" />
                                começe agora.
                            </p>
                        </div>
                        <div class="cover-image">
                            <img src="assets/images/auth/signin-image.svg" alt="" />
                        </div>
                        <div class="shape-image">
                            <img src="assets/images/auth/shape.svg" alt="" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->
            <div class="col-lg-6">
                <div class="signup-wrapper">
                    <div class="form-wrapper">
                        <h6 class="mb-15">Registre-se</h6>
                        <p class="text-sm mb-25">
                            Começe a faturar hoje mesmo, crie sua conta e inicie seus envios, não deixe pra depois!
                        </p>
                        <form [formGroup]="signupForm">
                            <div class="row">
                                <div class="col-12">
                                    <div class="input-style-1">
                                        <label>Seu nome</label>
                                        <input type="text" placeholder="Seu nome" formControlName="name" />
                                    </div>
                                </div>
                                <!-- end col -->
                                <div class="col-12">
                                    <div class="input-style-1">
                                        <label>Email</label>
                                        <input type="email" placeholder="Email" formControlName="email" />
                                    </div>
                                </div>
                                <!-- end col -->
                                <div class="col-12">
                                    <div class="input-style-1">
                                        <label>Sua senha</label>
                                        <input type="password" placeholder="Sua senha" formControlName="password" />
                                    </div>
                                </div>
                                <!-- end col -->
                                <div class="col-12">
                                    <div class="input-style-1">
                                        <label>Confirme sua senha</label>
                                        <input type="password" placeholder="Confirme sua senha" formControlName="passwordConfirm" />
                                    </div>
                                </div>
                                <!-- end col -->
                                <div class="col-12">
                                    <div class="button-group d-flex justify-content-center flex-wrap">
                                        <button class="main-btn primary-btn btn-hover w-100 text-center" type="submit" [disabled]="!signupForm.valid">
                                            Efetuar registro
                                        </button>
                                    </div>
                                </div>
                                <!-- end col -->
                            </div>
                            <!-- end row -->
                        </form>
                        <div class="singup-option pt-40">
                            <p class="text-sm text-medium text-center text-gray">
                                Login facilitado:
                            </p>
                            <div class="button-group pt-40 pb-40 d-flex justify-content-center flex-wrap">
                                <!-- <button class="main-btn primary-btn-outline m-2">
                                    <i class="lni lni-facebook-fill mr-10"></i>
                                    Facebook
                                </button> -->
                                <button class="main-btn danger-btn-outline m-2">
                                    <i class="lni lni-google mr-10"></i>
                                    Google
                                </button>
                            </div>
                            <p class="text-sm text-medium text-dark text-center">
                                Já tem uma conta? <a href="login">Acessar</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </section>
</app-default-login-layout>
