<header class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-6">
        <div class="header-left d-flex align-items-center">
          <div *ngIf="authGuard.isAuthenticated()" class="menu-toggle-btn mr-15">
            <button id="menu-toggle" class="main-btn primary-btn btn-hover">
              <i class="lni lni-chevron-left me-2"></i> Menu
            </button>
          </div>
          <h1 (click)="Home()" *ngIf="!authGuard.isAuthenticated()" style="color: #8a32fc; cursor: pointer;">Monety</h1>
        </div>
      </div>
      <div class="col-lg-7 col-md-7 col-6">
        <div class="header-right">
          <div *ngIf="authGuard.isAuthenticated()" class="profile-box ml-15">
            <button class="dropdown-toggle bg-transparent border-0" type="button" id="profile" data-bs-toggle="dropdown"
              aria-expanded="false">
              <div class="profile-info">
                <div class="info">
                  <div class="image">
                    <img src="assets/images/profile/image.png" alt="" />
                  </div>
                  <div>
                    <h6 class="fw-500">{{ userName }}</h6>
                    <p>{{ userEmail }}</p> <!-- Mudança aqui -->
                  </div>
                </div>
              </div>
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profile">
              <li>
                <div class="author-info flex items-center !p-1">
                  <div class="image">
                    <img src="assets/images/profile/image.png" alt="image">
                  </div>
                  <div class="content">
                    <h4 class="text-sm">{{ userName }}</h4>
                    <a class="text-black/40 dark:text-white/40 hover:text-black dark:hover:text-white text-xs" href="#">
                      {{ userEmail }} <!-- Mudança aqui -->
                    </a>
                  </div>
                </div>
              </li>
              <li class="divider"></li>
              <li>
                <a routerLink="/perfil">
                  <i class="lni lni-user"></i> Meu perfil
                </a>
              </li>
              <li>
                <a routerLink="/configuracoes"> <i class="lni lni-cog"></i> Configurações </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#" (click)="sair()"> <i class="lni lni-exit"></i> Sair </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
