

<div class="row">
  <div class="col-lg-12">
    <div class="card-style clients-table-card mb-30">
      <div class="file-manager-cards-wrapper">
        <div class="row">
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="icon-card mb-30">
              <div class="icon purple">
                <i class="lni lni-folder text-bold"></i>
              </div>
              <div class="content">
                <div class="">
                  <h6 class="text-semibold text-purple">Design</h6>
                  <p class="text-sm text-gray">17 files</p>
                </div>
                <div class="">
                  <h6 class="file-size">459 MB</h6>
                </div>
              </div>
            </div>
            <!-- End Icon Cart -->
          </div>
          <!-- End Col -->
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="icon-card mb-30">
              <div class="icon success">
                <i class="lni lni-image text-bold"></i>
              </div>
              <div class="content">
                <div class="">
                  <h6 class="text-semibold text-success">Image</h6>
                  <p class="text-sm text-gray">12 files</p>
                </div>
                <div class="">
                  <h6 class="file-size">120 MB</h6>
                </div>
              </div>
            </div>
            <!-- End Icon Cart -->
          </div>
          <!-- End Col -->
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="icon-card mb-30">
              <div class="icon primary">
                <i class="lni lni-music text-bold"></i>
              </div>
              <div class="content">
                <div class="">
                  <h6 class="text-semibold text-primary">Music</h6>
                  <p class="text-sm text-gray">39 files</p>
                </div>
                <div class="">
                  <h6 class="file-size">374 MB</h6>
                </div>
              </div>
            </div>
            <!-- End Icon Cart -->
          </div>
          <!-- End Col -->
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="icon-card mb-30">
              <div class="icon orange">
                <i class="lni lni-files text-bold"></i>
              </div>
              <div class="content">
                <div class="">
                  <h6 class="text-semibold text-orange">Docs</h6>
                  <p class="text-sm text-gray">78 files</p>
                </div>
                <div class="">
                  <h6 class="file-size">237 MB</h6>
                </div>
              </div>
            </div>
            <!-- End Icon Cart -->
          </div>
          <!-- End Col -->
        </div>
        <!-- end row -->
          </div>
      <div class="table-wrapper table-responsive">
        <table class="table clients-table">
          <thead>
            <tr>
              <th>
                <h6>#</h6>
              </th>
              <th>
                <h6>Nome</h6>
              </th>
              <th>
                <h6>Estado</h6>
              </th>
              <!-- <th>
                <h6>Path</h6>
              </th>
              <th>
                <h6>Filename</h6>
              </th>
              <th>
                <h6>Usuário</h6>
              </th> -->
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let arquivo of arquivos">
              <td>{{ arquivo.id }}</td>
              <td>{{ arquivo.nome }}</td>
              <!-- <td>{{ arquivo.path }}</td>   -->
              <!-- <td>{{ arquivo.filename }}</td> -->
              <td>
                <span class="status-btn" [ngClass]="{
                  'warning-btn': arquivo.estado === 0,
                  'danger-btn': arquivo.estado === 1 || arquivo.estado === 3,
                  'success-btn': arquivo.estado === 2
                }">
                  <ng-container *ngIf="arquivo.estado == 0">Em análise</ng-container>
                  <ng-container *ngIf="arquivo.estado === 1">Reprovado</ng-container>
                  <ng-container *ngIf="arquivo.estado === 2">Aprovado</ng-container>
                  <ng-container *ngIf="arquivo.estado === 3">Pausado</ng-container>
                </span>
              </td>              
              <!-- <td>{{ arquivo.userId }}</td> -->
              <td [class.hidden]="!authGuard.isAdmin()" >
                <button *ngIf="arquivo.estado === 1 || arquivo.estado === 0" class="btn btn-link text-primary" (click)="aprovarArquivo(arquivo.id)">
                  <i class="bi bi-check"></i>
                </button>
                <button *ngIf="arquivo.estado === 2" class="btn btn-link text-danger" (click)="reprovarArquivo(arquivo.id)">
                  <i class="bi bi-x"></i>
                </button>
              </td>
              <td>
                <button class="btn btn-link text-primary" (click)="redirecionarParaArquivo(arquivo.id)">
                  <i class="bi bi-eye"></i>
                </button>
              </td>
              <td>
                <button class="btn btn-link text-primary" (click)="copiarLink(arquivo.path)">
                  <i class="bi bi-copy"></i>
                </button>
              </td>
              <td>
                <button class="text-danger" (click)="confirmarExclusao( arquivo.id)">
                  <i class="bi bi-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


