<div class="row">
    <div class="col-xl-3 col-lg-4 col-sm-6">
      <div class="icon-card mb-30">
        <div class="icon purple">
          <i class="lni lni-folder text-bold"></i>
        </div>
        <div class="content">
          <div class="">
            <h6 class="text-semibold text-purple">Outros</h6>
            <p class="text-sm text-gray">17 arquivos</p>
          </div>
          <div class="">
            <h6 class="file-size">459 MB</h6>
          </div>
        </div>
      </div>
      <!-- End Icon Cart -->
    </div>
    <!-- End Col -->
    <div class="col-xl-3 col-lg-4 col-sm-6">
      <div class="icon-card mb-30">
        <div class="icon success">
          <i class="lni lni-image text-bold"></i>
        </div>
        <div class="content">
          <div class="">
            <h6 class="text-semibold text-success">Imagens</h6>
            <p class="text-sm text-gray">12 arquivos    </p>
          </div>
          <div class="">
            <h6 class="file-size">120 MB</h6>
          </div>
        </div>
      </div>
      <!-- End Icon Cart -->
    </div>
    <!-- End Col -->
    <div class="col-xl-3 col-lg-4 col-sm-6">
      <div class="icon-card mb-30">
        <div class="icon primary">
          <i class="lni lni-music text-bold"></i>
        </div>
        <div class="content">
          <div class="">
            <h6 class="text-semibold text-primary">Musicas</h6>
            <p class="text-sm text-gray">39 arquivos</p>
          </div>
          <div class="">
            <h6 class="file-size">374 MB</h6>
          </div>
        </div>
      </div>
      <!-- End Icon Cart -->
    </div>
    <!-- End Col -->
    <div class="col-xl-3 col-lg-4 col-sm-6">
      <div class="icon-card mb-30">
        <div class="icon orange">
          <i class="lni lni-files text-bold"></i>
        </div>
        <div class="content">
          <div class="">
            <h6 class="text-semibold text-orange">Documentos</h6>
            <p class="text-sm text-gray">78 arquivos</p>
          </div>
          <div class="">
            <h6 class="file-size">237 MB</h6>
          </div>
        </div>
      </div>
      <!-- End Icon Cart -->
    </div>
    <!-- End Col -->
  </div>
  <!-- end row -->