


<section class="section">
  <div class="container-fluid">
    <div class="title-wrapper pt-30">
        <div class="row align-items-center">
          <div class="col-md-6">
          <div class="title">
            <h2>Arquivos</h2>
          </div>
          </div>
          <!-- end col -->
          <div class="col-md-6">
          <div class="breadcrumb-wrapper">
            <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
              <a href="/dashboard">Dashboard</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
              Arquivos
              </li>
            </ol>
            </nav>
          </div>
    </div>

    <!-- end col -->
  </div>
  <!-- end row -->
  </div>

    <div class="row">
      <!-- Coluna para o componente "Infos Arquivos" -->
      <div class="col-md-12">
        <app-infos-arquivos></app-infos-arquivos>
      </div>
      <!-- Coluna para o componente "Lista Arquivos" -->
      <div class="col-md-9">
        <app-lista-arquivos></app-lista-arquivos>
      </div>
      <!-- Coluna para o componente "Enviar Arquivo" -->
      <div class="col-md-3">
        <app-enviar-arquivo></app-enviar-arquivo>
      </div>
    </div>


</div>

</section>
