<div class="row">
    <div class="col-lg-12">
        <div class="card-style clients-table-card mb-30">
          <div class="table-wrapper table-responsive">
            <table class="table clients-table">
                <thead>
                  <tr>
                    <th>
                      <h6>#</h6>
                    </th>
                    <th>
                      <h6>Nome</h6>
                    </th>
                    <th>
                      <h6>Email</h6>
                    </th>
                    <th>
                      <h6>Ativo</h6>
                    </th>
                    <th>
                      <h6>Admin</h6>
                    </th>
                    <th>
                      <h6>Ação</h6>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let usuario of usuarios">
                    <td>
                      <div >
                        {{ usuario.id }}<!-- <img [src]="usuario.imagem" alt=""> -->
                      </div>
                    </td>
                    <td class="min-width">
                      <p>{{ usuario.name }}</p>
                    </td>
                    <td class="min-width">
                      <p><a href="mailto:{{ usuario.email }}">{{ usuario.email }}</a></p>
                    </td>
                    <td class="min-width">
                      <p>
                        <span [ngClass]="usuario.ativo ? 'badge bg-primary' : 'badge bg-danger'">{{ usuario.ativo ? 'Sim' : 'Não' }}</span>
                      </p>
                    </td>
                    <td>
                        <p>
                            <span [ngClass]="usuario.isAdmin ? 'badge bg-danger' : 'badge bg-secondary'">{{ usuario.isAdmin ? 'Sim' : 'Não' }}</span>
                          </p>                    </td>
                    <td>
                      <div class="action">
                        <button class="text-danger" (click)="confirmarExclusao(usuario.id)">
                            <i class="lni lni-trash-can"></i>
                          </button>
                        <!-- <button class="text-primary">
                          <i class="lni lni-close"></i>
                        </button>
                        <button class="text-primary">
                          <i class="lni lni-checkmark"></i>
                        </button> -->
                      </div>
                    </td>
                  </tr>
                </tbody>
            </table>        
           </div>
        </div>
    </div>
</div>  