
<section class="section">
    <div class="container-fluid">
      <!-- ========== title-wrapper start ========== -->
      <div class="title-wrapper pt-30">
      <div class="row align-items-center">
        <div class="col-md-6">
        <div class="title">
          <h2>Monety Dashboard</h2>
        </div>
        </div>
        <!-- end col -->
        <div class="col-md-6">
        <div class="breadcrumb-wrapper">
          <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
            <a href="#0">Dashboard</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
            Monety
            </li>
          </ol>
          </nav>
        </div>
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->
      </div>
      <!-- ========== title-wrapper end ========== -->
      <div class="row">
      <!-- End Col -->
      <div class="col-xl-4 col-lg-4 col-sm-6">
        <div class="icon-card mb-30">
        <div class="icon success">
          <i class="lni lni-dollar"></i>
        </div>
        <div class="content">
          <h6 class="mb-10">Faturamento</h6>
          <h3 class="text-bold mb-10">R$ 0.000,00</h3>
          <p class="text-sm text-success">
          <i class="lni lni-cash"></i> Últimos 30 dias.
          <span class="text-gray"></span>
          </p>
        </div>
        </div>
        <!-- End Icon Cart -->
      </div>
      <!-- End Col -->
      <div class="col-xl-4 col-lg-4 col-sm-6">
        <div class="icon-card mb-30">
        <div class="icon primary">
          <i class="lni lni-credit-cards"></i>
        </div>
        <div class="content">
          <h6 class="mb-10">Total Sacado</h6>
          <h3 class="text-bold mb-10">R$ 0.000,00</h3>
          <p class="text-sm text-danger">
          <!-- <i class="lni lni-arrow-down"></i> -2.00% -->
          <span class="text-gray">Últimos 30 dias.</span>
          </p>
        </div>
        </div>
        <!-- End Icon Cart -->
      </div>
      <!-- End Col -->
      <div class="col-xl-4 col-lg-4 col-sm-6">
        <div class="icon-card mb-30">
        <div class="icon orange">
          <i class="lni lni-user"></i>
        </div>
        <div class="content">
          <h6 class="mb-10">Novas visualizações</h6>
          <h3 class="text-bold mb-10">0</h3>
          <p class="text-sm text-danger">
          <!-- <i class="lni lni-arrow-down"></i> -25.00% -->
          <span class="text-gray"> Últimas 24h.</span>
          </p>
        </div>
        </div>
        <!-- End Icon Cart -->
      </div>
      <!-- End Col -->
      </div>
      <!-- End Row -->
      <app-lista-arquivos></app-lista-arquivos>
      <!-- End Row -->
    </div>
    <!-- end container -->
    </section>
